<div id="app-calculator">
  <div></div>
  <div id="physical-calculator">
    <div id="display-holder">
      <div class="display-row-1"><span class="display-text">{{$operation}}</span></div>
      <div class="display-row-2"><span class="display-text" [textContent] = "$result"></span></div>
    </div>
    <div id="buttons" class="reveal-button-group">
      <div class="reveal-button-holder clearone"><button mat-button (click)="onKeyInput('CE')" class="reveal-button">CE</button></div>
      <div class="reveal-button-holder clear"><button mat-button (click)="onKeyInput('C')" class="reveal-button">C</button></div>
      <div class="reveal-button-holder negate"><button mat-button (click)="onNumInput('negate')" class="reveal-button">+/-</button></div>
      <div class="reveal-button-holder delete"><button mat-button (click)="onKeyInput('backspace')" class="reveal-button"><mat-icon>backspace</mat-icon></button></div>
      <div class="reveal-button-holder perc"><button mat-button (click)="onOperation('perc')" class="reveal-button">%</button></div>
      <div class="reveal-button-holder division"><button mat-button (click)="onOperation('div')" class="reveal-button">&#247;</button></div>
      <div class="reveal-button-holder mul"><button mat-button (click)="onOperation('mul')" class="reveal-button"><mat-icon>clear</mat-icon></button></div>
      <div class="reveal-button-holder minus"><button mat-button (click)="onOperation('minus')" class="reveal-button"><mat-icon>remove</mat-icon></button></div>
      <div class="reveal-button-holder plus"><button mat-button (click)="onOperation('plus')" class="reveal-button"><mat-icon>add</mat-icon></button></div>
      <div class="reveal-button-holder equals"><button mat-button (click)="onOperation('equals')" class="reveal-button"><mat-icon>drag_handle</mat-icon></button></div>
      <div class="reveal-button-holder one"><button mat-button (click)="onNumInput('1')" class="reveal-button">1</button></div>
      <div class="reveal-button-holder two"><button mat-button (click)="onNumInput('2')" class="reveal-button">2</button></div>
      <div class="reveal-button-holder three"><button mat-button (click)="onNumInput('3')" class="reveal-button">3</button></div>
      <div class="reveal-button-holder four"><button mat-button (click)="onNumInput('4')" class="reveal-button">4</button></div>
      <div class="reveal-button-holder five"><button mat-button (click)="onNumInput('5')" class="reveal-button">5</button></div>
      <div class="reveal-button-holder six"><button mat-button (click)="onNumInput('6')" class="reveal-button">6</button> </div>
      <div class="reveal-button-holder seven"><button mat-button (click)="onNumInput('7')" class="reveal-button">7</button></div>
      <div class="reveal-button-holder eight"><button mat-button (click)="onNumInput('8')" class="reveal-button">8</button></div>
      <div class="reveal-button-holder nine"><button mat-button (click)="onNumInput('9')" class="reveal-button">9</button></div>
      <div class="reveal-button-holder zero"><button mat-button (click)="onNumInput('0')" class="reveal-button">0</button></div>
      <div class="reveal-button-holder dot"><button mat-button (click)="onNumInput('.')" class="reveal-button">.</button></div>
    </div>
  </div>
</div>