#app-calculator {
    display: grid;
    //grid-template-columns: 2fr 3fr 3fr;
    grid-template-columns: auto auto auto;
    grid-template-areas: "calculator-types history physical-calculator";
    height: 100%;
}

#calculator-list-holder {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    #calculator-list {
        mat-list-item {
            transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
            border: 0 solid transparent;
            border-left-width: 7px;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
                background-color: #ddd;
            }
            &.active {
                background-color: #ddd;
                border-color: dodgerblue;
            }
        }
    }
}

#history-list-holder {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    #history-list {
        .history-header{
            justify-content: space-between;
        }
        mat-list-item {
            transition: background-color 300ms ease-in-out;
            height: initial; // border: 0 solid transparent;
            cursor: pointer;
            &:hover {
                background-color: #ddd;
            }            
            .history-item-container {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                width: 100%;
                height: 100%;
                padding-left: 16px;
                .history-item-text-holder {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    span {
                        align-self: center;
                        padding: .4rem 0;
                        
                    }
                }
                .history-calculator {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                    span{
                        overflow-wrap: break-all;
                    }
                }
                .history-operation {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    font-size: .9rem;
                    font-weight: 100;
                    justify-content: right;
                    span {
                        text-align: right;
                        word-spacing: .5rem;
                    }
                }
                .history-result {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    justify-content: right;
                    font-size: 1.7rem;
                }
            }
        }
    }
}

#physical-calculator {
    grid-area: physical-calculator;
    display: grid;
    grid-template-rows: 5fr 14fr;
    grid-template-areas: "display" "buttons";
    background-color: #333;
    color: #ffffff;
    height: 100%;
}

#display-holder {
    grid-area: display;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: #242424;
    font-family: Roboto, "Helvetica Neue";
    .display-row-1 {
        display: flex;
        border: 0;
        color: #ffffff;
        background: transparent;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        padding: .5rem;
        box-sizing: border-box;
        justify-content: flex-end;
        .display-text {
            align-self: center;
        }
    }
    .display-row-2 {
        display: flex;
        border: 0;
        color: #ffffff;
        background: transparent;
        width: 100%;
        height: 100%;
        font-size: 3rem;
        padding: .5rem;
        box-sizing: border-box;
        justify-content: flex-end;
        .display-text {
            align-self: center;
        }
    }
}

#buttons {
    display: grid;
    grid-area: buttons;
    grid-template-areas: "clearone clear negate delete" "perc divison mul minus" "seven eight nine plus" "four five six plus" "one two three equals" "zero zero dot equals";
    .numeric-button {
        background-color: #242424;
    }
    button {
        font-size: 1.5rem;
    }
    .clearone {
        grid-area: clearone;
    }
    .clear {
        grid-area: clear;
    }
    .negate {
        grid-area: negate;
    }
    .delete {
        grid-area: delete;
    }
    .perc {
        grid-area: perc;
    }
    .divison {
        grid-area: divison;
    }
    .mul {
        grid-area: mul;
    }
    .minus {
        grid-area: minus;
    }
    .plus {
        grid-area: plus;
    }
    .equals {
        grid-area: equals;
    }
    .one {
        grid-area: "one";
    }
    .two {
        grid-area: two;
    }
    .three {
        grid-area: three;
    }
    .four {
        grid-area: four;
    }
    .five {
        grid-area: five;
    }
    .six {
        grid-area: six;
    }
    .seven {
        grid-area: seven;
    }
    .eight {
        grid-area: eight;
    }
    .nine {
        grid-area: nine;
    }
    .zero {
        grid-area: zero;
    }
    .dot {
        grid-area: dot;
    }
}