:host {
    grid-row: 2/3;
    grid-column: 1/2
}

nav {
    height: 100%;
    background-color: #333;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a {
                padding: 12px;
                display: flex;
                line-height: initial;
                min-width: initial;
                display: flex;
                color: #fff;
                div {
                    padding-left: 15px;
                    align-self: center;
                    display: none;
                    overflow: hidden;
                    &.menu-name-visible {
                        display: block;
                    }
                }
            }
            &.activated {
                background-color: #fff;
            }
        }
    }
}

.reveal-button-holder {
    padding: 1px;
    margin: 1px;
}