<nav>
  <ul class="reveal-button-group">
    <li>
      <a href="javascript:void(0)" mat-button (click)="onMenuToogle()">
        <i class="material-icons">menu</i>
      </a>
    </li>
    <li class="reveal-button-holder" [class.activated]="currentUrl == '/'">
      <a routerLink="" mat-button class="reveal-button">
        <mat-icon>supervised_user_circle</mat-icon>
        <div [class.menu-name-visible]="menuExpanded">Users</div>
      </a>
    </li>
    <li class="reveal-button-holder" [class.activated]="currentUrl == '/posts'">
      <a routerLink="posts" mat-button class="reveal-button">
        <mat-icon>message</mat-icon>
        <div [class.menu-name-visible]="menuExpanded">Messages</div>
      </a>
    </li>
    <li class="reveal-button-holder" [class.activated]="currentUrl == '/interactions'">
      <a routerLink="interactions" mat-button class="reveal-button">
        <mat-icon>info</mat-icon>
        <div [class.menu-name-visible]="menuExpanded">Interactions</div>
      </a>
    </li>
    <li class="reveal-button-holder" [class.activated]="currentUrl == '/calculator'">
      <a routerLink="calculator" mat-button class="reveal-button">
          <mat-icon>dialpad</mat-icon>
        <div [class.menu-name-visible]="menuExpanded">Calculator</div>
      </a>
    </li>
  </ul>
</nav>