/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.fas {
    font-size: 24px;
}

#container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    height: 100%;
    overflow: hidden;
    #content {
        padding: 0;
        overflow-y: auto;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                background: #fff;
                border-radius: 8px;
                padding: 25px;
                margin-bottom: 8px;
                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00A8FF;
                }
                ul {
                    margin-top: 20px;
                    li {
                        padding: 0;
                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.reveal-button-holder {
    margin: 1px;
    padding: 1px;
    transition: background-color 400ms ease-in-out;
}

.reveal-button-holder .reveal-button {
    font-weight: lighter;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #333;
    color: #fff;
    transition: all 400ms ease;
}

.reveal-button-holder:hover{
    background-color: rgba(255,255,255,.6) !important;
}

app-sidebar .mat-button-wrapper {
    display: flex !important;
}
